Cách để bỏ cái show more khi chuột phải trên win11

Mở powershell và copy paste lệnh này sau đó nhấn enter:

𝐍𝐞𝐰-𝐈𝐭𝐞𝐦 -𝐏𝐚𝐭𝐡 "𝐇𝐊𝐂𝐔:\𝐒𝐨𝐟𝐭𝐰𝐚𝐫𝐞\𝐂𝐥𝐚𝐬𝐬𝐞𝐬\𝐂𝐋𝐒𝐈𝐃\{𝟖𝟔𝐜𝐚𝟏𝐚𝐚𝟎-𝟑𝟒𝐚𝐚-𝟒𝐞𝟖𝐛-𝐚𝟓𝟎𝟗-𝟓𝟎𝐜𝟗𝟎𝟓𝐛𝐚𝐞𝟐𝐚𝟐}\𝐈𝐧𝐩𝐫𝐨𝐜𝐒𝐞𝐫𝐯𝐞𝐫𝟑𝟐" -𝐅𝐨𝐫𝐜𝐞 | 𝐎𝐮𝐭-𝐍𝐮𝐥𝐥; 𝐒𝐞𝐭-𝐈𝐭𝐞𝐦𝐏𝐫𝐨𝐩𝐞𝐫𝐭𝐲 -𝐏𝐚𝐭𝐡 "𝐇𝐊𝐂𝐔:\𝐒𝐨𝐟𝐭𝐰𝐚𝐫𝐞\𝐂𝐥𝐚𝐬𝐬𝐞𝐬\𝐂𝐋𝐒𝐈𝐃\{𝟖𝟔𝐜𝐚𝟏𝐚𝐚𝟎-𝟑𝟒𝐚𝐚-𝟒𝐞𝟖𝐛-𝐚𝟓𝟎𝟗-𝟓𝟎𝐜𝟗𝟎𝟓𝐛𝐚𝐞𝟐𝐚𝟐}\𝐈𝐧𝐩𝐫𝐨𝐜𝐒𝐞𝐫𝐯𝐞𝐫𝟑𝟐" -𝐍𝐚𝐦𝐞 "(𝐝𝐞𝐟𝐚𝐮𝐥𝐭)" -𝐕𝐚𝐥𝐮𝐞 ""

Bước 2: copy paste tiếp 𝐒𝐭𝐨𝐩-𝐏𝐫𝐨𝐜𝐞𝐬𝐬 -𝐍𝐚𝐦𝐞 𝐞𝐱𝐩𝐥𝐨𝐫𝐞𝐫 -𝐅𝐨𝐫𝐜𝐞 rồi enter là đc